#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Nederlands (Nederland) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NLD)
LANGUAGE LANG_DUTCH, SUBLANG_DUTCH

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041304B0"
        BEGIN
            VALUE "CompanyName", "Mijn Bedrijf"
            VALUE "FileDescription", "ATL COM Server Project"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "ATLProjectcomserver.dll"
            VALUE "LegalCopyright", "(c) 2024 Mijn Bedrijf. Alle rechten voorbehouden."
            VALUE "OriginalFilename", "ATLProjectcomserver.dll"
            VALUE "ProductName", "ATL COM Server"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x413, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_ATLPROJECTCOMSERVER    REGISTRY                "ATLProjectcomserver.rgs"
IDR_MATHOPERATIONS         REGISTRY                "MathOperations.rgs"
IDR_SHAREDVALUE           REGISTRY                "SharedValue.rgs"
IDR_SHAREDVALUECALLBACK   REGISTRY                "SharedValueCallback.rgs"
IDR_DATASETPROXY          REGISTRY                "DatasetProxy.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// TYPELIB
//

1 TYPELIB "ATLProjectcomserver.tlb"

#endif    // Nederlands (Nederland) resources
///////////////////////////////////////////////////////////////////////////// 